.button-box {
    background-color: #51A388;
    opacity: 0.9;
    align-content: center;
}

.game-info {
    font-size: 14px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
    color: white;
    margin-left: 5%;
    margin-right: 5%;
}

.row {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.column {
    display: flex;
    flex: 1 1 auto;
    padding: 10px;
}

.card-row {
    display: flex;
    flex-direction: row;
}