.xp-outline {
    background-color: aliceblue;
    width: 150px;
}

.xp-actual {
    width: 50%;
    background-color: green;
}

.center-img {
    align-content: center;
    justify-content: center;
}

.img-button {
    width: fit-content;
    height: fit-content;
}
