.navigation-button {
    background-color: #E33737;
    opacity: 0.85;
    cursor: pointer;
}

.button-text {
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}


.row {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.column {
    display: flex;
    /*flex: 1 1 auto;*/
    flex-direction: column;
}

.space-between {
    justify-content: space-between;
}

.align-top-left-corner {
    margin-top: 0; 
    margin-bottom: 10px;
}

.center {
    align-content: center;
    justify-content: center;
}

.img-button {
    width: fit-content;
    height: fit-content;
}

.sub-heading {
    color:#FFFBFB;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
}